@tailwind base;
@tailwind components;
@tailwind utilities;

.message {
    @apply flex w-full flex-col rounded-lg bg-gradient-to-tr dark:from-purple-700 dark:to-fuchsia-600 from-purple-400 to-fuchsia-300 p-4 text-textColor-light-1 dark:text-textColor-dark-1;
}

.message:nth-child(even) {
    @apply bg-gradient-to-tl dark:from-blue-700 dark:to-indigo-600 from-blue-400 to-indigo-300;
}

.message > .username {
    @apply font-bold text-textColor-light-2 dark:text-textColor-dark-2;
}

.message > .content {
    @apply whitespace-pre-line;
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

.disable-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
